section{
    margin-top: 3.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
footer{
    margin-top: 2rem;
}
.header-icon i{
    color: #ffffff;
}
.header-icon .nav-link:hover i{
    color: #005cbf;
}

.footer-icon i{
    color: #000000;
}
.footer-icon .nav-link:hover i{
    color:#0c5460;
}